structlog
# for Whisper
openai-whisper==20231117
faster-whisper==1.0.3
# for whisper alternatives
# whisperx==3.1.5
whisper-timestamped==1.15.4
matplotlib
ffmpeg-python==0.2.0
# for Demucs
demucs==4.0.1
scipy
invisible-watermark
fonts
font-roboto
# gradio
# gradio==3.50.2
gradio==4.29.0
yt-dlp==2023.11.16
json5
more_itertools
pyyaml
pandas==1.5.0
Cython
huggingface-hub==0.23.4
# one-click
tqdm
markdown
rich
# tts
edge-tts
python-iso639
deep-translator
pysubs2
coqui-tts[languages]==0.24.1
cutlet
fugashi[unidic-lite]
pysrt 
lingua-language-detector
# live
PyAudio
soundcard
soundfile
websockets
websocket-client
kaldialign
pydub
librosa==0.10.1
jiwer
evaluate
azure-ai-translation-text==1.0.0b1
azure-cognitiveservices-speech
uuid

# rvc cli
noisereduce
praat-parselmouth==0.4.2
torchcrepe==0.0.22
pyworld==0.3.4
faiss-cpu==1.7.3
local-attention
fairseq==0.12.2
wget

# PyTorch
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1