structlog
py-cpuinfo==9.0.0

# for Whisper
openai-whisper==20240930 #20231117
faster-whisper==1.0.3
whisper-timestamped==1.15.5 #1.15.4
matplotlib
ffmpeg-python==0.2.0
# for Demucs
demucs==4.0.1
scipy
invisible-watermark
fonts
font-roboto
# gradio
gradio==4.44.1
gradio-client>=1.3.0
websockets>=10.0,<13.0
numpy==1.26.4
fastapi==0.112.4
pydantic==2.9.1
yt-dlp<2024.10.22
browser_cookie3
json5
more_itertools
pyyaml
pandas==1.5.0
Cython
huggingface-hub==0.23.4
# one-click
tqdm
markdown
rich
ntplib
# tts
edge-tts
python-iso639
deep-translator
pysubs2
lingua-language-detector
# live
# PyAudio
soundcard
soundfile
websockets
websocket-client
kaldialign
pydub
librosa==0.10.1
jiwer
evaluate
azure-ai-translation-text==1.0.0b1
azure-cognitiveservices-speech
uuid

wget

# PyTorch 2.5.1
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121