structlog
py-cpuinfo==9.0.0
wget
# for Whisper
openai-whisper==20240930
faster-whisper==1.1.0
whisperx==3.3.1
whisper-timestamped==1.15.8
matplotlib
ffmpeg-python==0.2.0
# for Demucs
demucs==4.0.1
invisible-watermark
fonts
font-roboto
# gradio
gradio==5.14.0
numpy<2
pydantic==2.9.1
yt-dlp==2025.01.15
browser_cookie3
json5
more_itertools
pyyaml
pandas==1.5.0
Cython
huggingface-hub==0.27.1
cached_path==1.6.7
# one-click
tqdm
markdown
rich
ntplib
# tts
edge-tts
python-iso639
deep-translator
pysubs2
lingua-language-detector
# live
soundcard
soundfile
websockets
websocket-client
kaldialign
librosa==0.10.1
jiwer
evaluate
azure-ai-translation-text==1.0.0b1
azure-cognitiveservices-speech
uuid
#
pydub==0.25.1
# Requests==2.31.0
# ai cover
# deemix
# torchcrepe==0.0.22
# fairseq==0.12.2
# faiss-cpu==1.7.3
# lib==4.0.0
# praat-parselmouth>=0.4.2
# pedalboard==0.7.7
# pyworld==0.3.4
# scipy==1.11.1
# tensorboardX
# PyTorch 2.5.1
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
# CosyVoice
conformer==0.3.2
diffusers==0.29.0
gdown==5.1.0
grpcio==1.57.0
grpcio-tools==1.57.0
HyperPyYAML==1.2.2
inflect==7.3.1
lightning==2.2.4
modelscope==1.15.0
# onnx==1.16.0
tensorboard==2.14.0
fastapi-cli==0.0.4
WeTextProcessing==1.0.3
# kokoro
kokoro
misaki[en]
misaki[ja]
misaki[zh]
# spaCy
spacy==3.7.5